<style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;

    }
    body {
      position: relative; 
  }
</style>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"></nav> -->
<nav class="navbar navbar-inverse bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="">꿀조합</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/main">Home</a></li>
          <li><a href="#">꿀조합 게시판</a></li>
          <li><a href="/mania">Food 게시판</a></li>
          <li><a href="/vegan/list">Vegan 게시판</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a th:href="@{/signout}" th:if="${session.user != null}"><span class="glyphicon glyphicon-log-in"></span> [[${session.user.nickname}]]님 환영합니다😊 Logout</a></li>
          <li><a th:href="@{/sign}" th:unless="${session.user != null}"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>


        </ul>
      </div>
    </div>
  </nav>
</body>