<!DOCTYPE html>
<html lang="ko">

    <head th:replace="common/head"></head>

<body>

    <nav th:replace="common/navbar"></nav>

    <div style="margin-top:50px;"></div>

    <div class="container">
    <form action="/mania/write" method="post" enctype="multipart/form-data">
        
        <label for="mTitle">글제목</label>
        <input type="text" name="mTitle" class="form-control">
        <div style="padding: 15px;"></div>


        <label for="mContent">글내용</label>
        <textarea name="mContent" rows="10" class="form-control"></textarea>
        <div style="padding: 15px;"></div>
       
        <label for="file">파일첨부</label>
        <input type="file" multiple name="file" class="form-control" accept="image/jpeg, image/png, image/*">

        <div style="padding: 20px;"></div>

        <button type="submit" th:if="${session.user != null}">등록</button>
    </form>
    </div>

    <footer th:replace="common/footer"></footer>

</body>

</html>