<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HONEY_DETAIL</title>

</head>

<head th:replace="common/head"></head>

<body>
    <nav th:replace="common/navbar"></nav><br>
    <h5>꿀조합 디테일</h5>
    <table border="1" bordercolor="yellow">
        <tr>
            <th>제목</th>
            <td th:text="${honey.hSubject}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${honey.hContent}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${honey.user.nickname}"></td>
        </tr>
        <tr>
            <th>날짜</th>
            <td th:text="${honey.createDate}"></td>
        </tr>


    </table>

    <img th:src="@{/honeydownload(hId=${param.hId})}" style="width:200px;" onerror="this.src='/images/noimg.png'">



    <th:block th:if="${session.user.nickname!=null}">
        <div th:if="${session.user.nickname} == ${honey.user.nickname}">
            <a th:href="@{/honey/update(hId=${honey.hId})}">수정하기</a>
            <a th:href="@{/honey/delete(hId=${honey.hId})}">삭제하기</a>
        </div>
    </th:block>


    <h5 class="border-bottom my-3 py-2" th:text="${#lists.size(honey.answers)} + '개의 답변이 있습니다.'"></h5>
    <th:block th:each="answer : ${honey.answers}">
        <a name="answer_{{ answer.id }}"></a>
        <div class="row my-3">
            <div class="col-11">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text" th:text="${answer.content}"></div>
                        <div class="d-flex justify-content-end">
                            <div class="badge badge-light p-2 text-left">
                                <div class="mb-2" th:text="${answer.user.nickname}"></div>
                                <div th:text="${answer.createDate}"></div>
                            </div>
                        </div>
                        <div th:if="${session.user.nickname} == ${answer.user.nickname}" class="my-3">
                            <a class="btn btn-sm btn-outline-secondary">수정</a>
                            <a class="delete btn btn-sm btn-outline-secondary">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <form action="/hanswer/create" method="post" class="my-3">
        <input type="hidden" name="hId" th:value="${honey.hId}">
        <input type="hidden" th:value="${param.hId}"> <!--  왜 쓰는지 도통 모르겠음. 이름도 없고. -->
        <div class="form-group">
            <textarea name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="답변등록" class="btn btn-primary">
    </form>






</body>

</html>