<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEGAN_DETAIL</title>
</head>
<body>
    <h5>비건디테일</h5>
    <table border="1" bordercolor="yellow">
        <tr>
         <th>제목</th>
         <td th:text="${vegan.vSubject}"></td>
        </tr>
        <tr>
         <th>내용</th>
         <td th:text="${vegan.vContent}"></td>
        </tr>
        <tr>
         <th>작성자</th>
         <td th:text="${vegan.user.nickname}"></td>
        </tr>
        <tr>
         <th>날짜</th>
         <td th:text="${vegan.createDate}"></td>
        </tr>
        
        
    </table>

    <img th:src="@{/vegandownload(vId=${param.vId})}" style="width:50px;" onerror="this.src='/noimage.png'">



    <th:block th:if="${session.user.nickname!=null}">
        <div th:if="${session.user.nickname} == ${vegan.user.nickname}">
            <a th:href="@{/vegan/update(vId=${vegan.vId})}">수정하기</a>
            <a th:href="@{/vegan/delete(vId=${vegan.vId})}">삭제하기</a>
        </div>
    </th:block>

    <!-- <button onclick="">수정하기</button> -->
    <!-- <button onclick="">삭제하기</button> -->
</body>
</html>