<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="update">
        <form method="post">

            <label for="vSubject">제목</label>
            <input type="text" name="vSubject" id="vSubject" th:value="${vegan.vSubject}">
            <label for="vContent">내용</label>
            <input type="text" name="vContent" id="vContent" th:value="${vegan.vContent}" rows="10">
            <button type="submit">수정하기</button>
        </form>
    </div>
    
</body>
</html>