<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>꿀조합💞</title>
</head>

<body>
    <h1>메인페이지에요~😊</h1>

    <h2><a style="text-decoration: none;" th:if="${session.user != null}" th:href="@{/signout}" th:text="${session.user.nickname} + ' (로그아웃)'"></a></h2>
    <h2><a style="text-decoration: none;" th:unless="${session.user != null}" th:href="@{/}" th:text="로그인"></a></h2>
</body>

</html>