<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매니아 게시판</title> 
</head>

<body>
    <h1 th:text="${mania.mTitle}"></h1>
    <div th:text="|글내용 : ${mania.mContent}|"></div>
    <div>
        <div>작성자 : [[${mania.user.nickname}]]</div>
        <div>작성일 : [[${mania.createDate}]]</div>
    </div>
    <div>
        <img th:src="@{/download(mId=${param.mId})}" style="width:15%;" onerror="this.src='/noimage.png'">
    </div>

   

    <div th:if="${session.user.nickname} == ${mania.user.nickname}">
        <a th:href="@{/mania/update(mId=${param.mId})}">수정</a>
        <a th:href="@{/mania/delete(mId=${param.mId})}">삭제</a>
    </div>


</body>

</html>