<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매니아 게시판</title>
</head>

<body>
    <h1 th:text="${mania.mTitle}"></h1>
    <div th:text="${mania.mContent}"></div>
    <div>
        <div th:text="${mania.user.nickname}"></div>
        <div th:text="${mania.createDate}"></div>
    </div>

    <div th:if="${session.user.nickname} == ${mania.user.nickname}">
        <a th:href="@{/mania/update(mId=${param.mId})}" >수정</a>
        <a th:href="@{/question/delete(mId=${param.mId})}" >삭제</a>
    </div>


</body>

</html>