<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매니아 게시판</title>
</head>

<body>

    <form action="/mania/write" method="post" enctype="multipart/form-data">
        <input type="text" name="mTitle" placeholder="글제목">
        <input type="text" name="mContent" placeholder="글내용">
        <input type="file" name="file" accept="image/jpeg, image/png, image/*">
        <button type="submit">글 쓰 기</button>
    </form>

</body>

</html>